<div class="layout-column align-items-center mt-50" [formGroup]="formGroup">
  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input type="number" class="large" data-test-id="celsius-input" formControlName="c" />
  </section>

  <section class="layout-row align-items-center justify-content-between">
    <label>Fahrenheit: </label>
    <input type="number" class="large" data-test-id="fahrenheit-input" formControlName="f" />
  </section>
</div>
